<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %} Main Page {% endblock %}</title>
</head>
<body>
    <style> 
        * {margin: 1rem auto; text-align: center; font-family: monospace; font-size: 24px;}
        td {padding: 0 3rem; max-width: 25rem;}
        button i {font-size: 20px;}
        button {border: 0; background: none; cursor:pointer;}
        </style>
    <h1>ToDoList By DSSU</h1>
    <div id="content" name="content">
        {% block content %}
        {% endblock %}
    <a href="http://localhost:8000/sqlite/tdlst/">back</a>
    </div>
</body>
</html>