{% extends 'main/base.html' %}

{% block title%}List Page{% endblock %}

{% block content %}
<h1 class="mt-2">ToDoList By DSSU</h1>
<h2 class="fs-2 fw-bold">{{lst.name}}</h2>
<form action="#" method="post">
{% csrf_token %}
{% if items %}
<div class="table-responsive">
<table class="table align-middle">
    <thead class="table-light">
        <tr class="text-center">
            <th class="col-2">Status</th>
            <th scope="col-10">Task</th>
        {% if edit %}
        <th>Remove</th>
        {% endif %}
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td class="text-center">
        {% if item.complete %}
        <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
        {% else %}
        <input type="checkbox" value="clicked" name="c{{item.id}}">
        {% endif %}
        </td>
        <td class="border-start">{{item.text}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
    <h5 style="color:#f00;">No items to show</h5>
{% endif%}
<div class="mt-3 d-flex gap-3 justify-content-center">
<input class="btn btn-secondary" type="submit" name="save" value="Save">
<div class="btn-group">
        <input class="input-group-tex" type="text" name="new" value="" placeholder="Make a new program">
        <input class="btn btn-secondary" type="submit" name="newItem" value="New Item">
    </div>
    <input class="btn btn-secondary" type="submit" name="edit" value="Edit">
</div>
</form>
<div class="d-flex justify-content-center">
    <a class="mt-3 btn btn-primary mx-auto" href="/tdlst">back</a>
</div>
{% endblock %}
